[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "htsDegenerateR"]
	path = htsDegenerateR
	url = https://github.com/lsteinmeister/htsdegenerater
